lib/__pycache__/lib_ot.cost_function-197.py311.1.nbc
lib/__pycache__/lib_ot.cost_function-197.py311.nbi
lib/__pycache__/lib_ot.ot1d-171.py311.1.nbc
lib/__pycache__/lib_ot.ot1d-171.py311.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp_opt_1-580.py311.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp_opt_1-580.py311.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp-467.py311.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp-467.py311.nbi
lib/__pycache__/lib_shape.gradient_flow_sopt-945.py311.1.nbc
lib/__pycache__/lib_shape.gradient_flow_sopt-945.py311.nbi
lib/__pycache__/lib_shape.gradient_flow_sot-920.py311.1.nbc
lib/__pycache__/lib_shape.gradient_flow_sot-920.py311.nbi
lib/__pycache__/sliced_opt.random_projections-18.py311.1.nbc
lib/__pycache__/sliced_opt.random_projections-18.py311.nbi
results/2d_fish_row.pdf
results/2D_fish_0.00/CPD_error.pt
results/2D_fish_0.00/CPD.pt
results/2D_fish_0.00/OPT-RBF_error.pt
results/2D_fish_0.00/OPT-RBF.pt
results/2D_fish_0.00/OPT-TPS_error.pt
results/2D_fish_0.00/OPT-TPS.pt
results/2D_fish_0.00/OT-RBF_error.pt
results/2D_fish_0.00/OT-RBF.pt
results/2D_fish_0.00/OT-TPS_error.pt
results/2D_fish_0.00/OT-TPS.pt
results/2D_fish_0.00/SOPT-RBF_error.pt
results/2D_fish_0.00/SOPT-RBF.pt
results/2D_fish_0.00/SOPT-TPS_error.pt
results/2D_fish_0.00/SOPT-TPS.pt
results/2D_fish_0.00/SOT-RBF_error.pt
results/2D_fish_0.00/SOT-RBF.pt
results/2D_fish_0.00/SOT-TPS_error.pt
results/2D_fish_0.00/SOT-TPS.pt
results/2D_fish_0.00/TPS-RPM_error.pt
results/2D_fish_0.00/TPS-RPM-new_error.pt
results/2D_fish_0.00/TPS-RPM-new.pt
results/2D_fish_0.00/TPS-RPM.pt
results/2D_fish_0.00/pic/CPD_0.jpg
results/2D_fish_0.00/pic/CPD_5.jpg
results/2D_fish_0.00/pic/CPD_10.jpg
results/2D_fish_0.00/pic/CPD_15.jpg
results/2D_fish_0.00/pic/CPD_20.jpg
results/2D_fish_0.00/pic/CPD_26.jpg
results/2D_fish_0.00/pic/CPD_31.jpg
results/2D_fish_0.00/pic/CPD_36.jpg
results/2D_fish_0.00/pic/CPD_41.jpg
results/2D_fish_0.00/pic/CPD_46.jpg
results/2D_fish_0.00/pic/CPD_52.jpg
results/2D_fish_0.00/pic/CPD_57.jpg
results/2D_fish_0.00/pic/CPD_62.jpg
results/2D_fish_0.00/pic/CPD_67.jpg
results/2D_fish_0.00/pic/CPD_72.jpg
results/2D_fish_0.00/pic/CPD_78.jpg
results/2D_fish_0.00/pic/CPD_83.jpg
results/2D_fish_0.00/pic/CPD_88.jpg
results/2D_fish_0.00/pic/CPD_93.jpg
results/2D_fish_0.00/pic/CPD_99.jpg
results/2D_fish_0.00/pic/CPD_final.jpg
results/2D_fish_0.00/pic/init.jpg
results/2D_fish_0.00/pic/OPT-RBF_0.jpg
results/2D_fish_0.00/pic/OPT-RBF_11.jpg
results/2D_fish_0.00/pic/OPT-RBF_22.jpg
results/2D_fish_0.00/pic/OPT-RBF_33.jpg
results/2D_fish_0.00/pic/OPT-RBF_44.jpg
results/2D_fish_0.00/pic/OPT-RBF_55.jpg
results/2D_fish_0.00/pic/OPT-RBF_66.jpg
results/2D_fish_0.00/pic/OPT-RBF_77.jpg
results/2D_fish_0.00/pic/OPT-RBF_88.jpg
results/2D_fish_0.00/pic/OPT-RBF_99.jpg
results/2D_fish_0.00/pic/OPT-RBF_final.jpg
results/2D_fish_0.00/pic/OPT-TPS_0.jpg
results/2D_fish_0.00/pic/OPT-TPS_11.jpg
results/2D_fish_0.00/pic/OPT-TPS_22.jpg
results/2D_fish_0.00/pic/OPT-TPS_33.jpg
results/2D_fish_0.00/pic/OPT-TPS_44.jpg
results/2D_fish_0.00/pic/OPT-TPS_55.jpg
results/2D_fish_0.00/pic/OPT-TPS_66.jpg
results/2D_fish_0.00/pic/OPT-TPS_77.jpg
results/2D_fish_0.00/pic/OPT-TPS_88.jpg
results/2D_fish_0.00/pic/OPT-TPS_99.jpg
results/2D_fish_0.00/pic/OPT-TPS_final.jpg
results/2D_fish_0.00/pic/OT-RBF_0.jpg
results/2D_fish_0.00/pic/OT-RBF_11.jpg
results/2D_fish_0.00/pic/OT-RBF_22.jpg
results/2D_fish_0.00/pic/OT-RBF_33.jpg
results/2D_fish_0.00/pic/OT-RBF_44.jpg
results/2D_fish_0.00/pic/OT-RBF_55.jpg
results/2D_fish_0.00/pic/OT-RBF_66.jpg
results/2D_fish_0.00/pic/OT-RBF_77.jpg
results/2D_fish_0.00/pic/OT-RBF_88.jpg
results/2D_fish_0.00/pic/OT-RBF_99.jpg
results/2D_fish_0.00/pic/OT-RBF_final.jpg
results/2D_fish_0.00/pic/OT-TPS_0.jpg
results/2D_fish_0.00/pic/OT-TPS_11.jpg
results/2D_fish_0.00/pic/OT-TPS_22.jpg
results/2D_fish_0.00/pic/OT-TPS_33.jpg
results/2D_fish_0.00/pic/OT-TPS_44.jpg
results/2D_fish_0.00/pic/OT-TPS_55.jpg
results/2D_fish_0.00/pic/OT-TPS_66.jpg
results/2D_fish_0.00/pic/OT-TPS_77.jpg
results/2D_fish_0.00/pic/OT-TPS_88.jpg
results/2D_fish_0.00/pic/OT-TPS_99.jpg
results/2D_fish_0.00/pic/OT-TPS_final.jpg
results/2D_fish_0.00/pic/SOPT-RBF_0.jpg
results/2D_fish_0.00/pic/SOPT-RBF_11.jpg
results/2D_fish_0.00/pic/SOPT-RBF_22.jpg
results/2D_fish_0.00/pic/SOPT-RBF_33.jpg
results/2D_fish_0.00/pic/SOPT-RBF_44.jpg
results/2D_fish_0.00/pic/SOPT-RBF_55.jpg
results/2D_fish_0.00/pic/SOPT-RBF_66.jpg
results/2D_fish_0.00/pic/SOPT-RBF_77.jpg
results/2D_fish_0.00/pic/SOPT-RBF_88.jpg
results/2D_fish_0.00/pic/SOPT-RBF_99.jpg
results/2D_fish_0.00/pic/SOPT-RBF_final.jpg
results/2D_fish_0.00/pic/SOPT-TPS_0.jpg
results/2D_fish_0.00/pic/SOPT-TPS_11.jpg
results/2D_fish_0.00/pic/SOPT-TPS_22.jpg
results/2D_fish_0.00/pic/SOPT-TPS_33.jpg
results/2D_fish_0.00/pic/SOPT-TPS_44.jpg
results/2D_fish_0.00/pic/SOPT-TPS_55.jpg
results/2D_fish_0.00/pic/SOPT-TPS_66.jpg
results/2D_fish_0.00/pic/SOPT-TPS_77.jpg
results/2D_fish_0.00/pic/SOPT-TPS_88.jpg
results/2D_fish_0.00/pic/SOPT-TPS_99.jpg
results/2D_fish_0.00/pic/SOPT-TPS_final.jpg
results/2D_fish_0.00/pic/SOT-RBF_0.jpg
results/2D_fish_0.00/pic/SOT-RBF_11.jpg
results/2D_fish_0.00/pic/SOT-RBF_22.jpg
results/2D_fish_0.00/pic/SOT-RBF_33.jpg
results/2D_fish_0.00/pic/SOT-RBF_44.jpg
results/2D_fish_0.00/pic/SOT-RBF_55.jpg
results/2D_fish_0.00/pic/SOT-RBF_66.jpg
results/2D_fish_0.00/pic/SOT-RBF_77.jpg
results/2D_fish_0.00/pic/SOT-RBF_88.jpg
results/2D_fish_0.00/pic/SOT-RBF_99.jpg
results/2D_fish_0.00/pic/SOT-RBF_final.jpg
results/2D_fish_0.00/pic/SOT-TPS_0.jpg
results/2D_fish_0.00/pic/SOT-TPS_11.jpg
results/2D_fish_0.00/pic/SOT-TPS_22.jpg
results/2D_fish_0.00/pic/SOT-TPS_33.jpg
results/2D_fish_0.00/pic/SOT-TPS_44.jpg
results/2D_fish_0.00/pic/SOT-TPS_55.jpg
results/2D_fish_0.00/pic/SOT-TPS_66.jpg
results/2D_fish_0.00/pic/SOT-TPS_77.jpg
results/2D_fish_0.00/pic/SOT-TPS_88.jpg
results/2D_fish_0.00/pic/SOT-TPS_99.jpg
results/2D_fish_0.00/pic/SOT-TPS_final.jpg
results/2D_fish_0.00/pic/TPS-RPM_0.jpg
results/2D_fish_0.00/pic/TPS-RPM_11.jpg
results/2D_fish_0.00/pic/TPS-RPM_22.jpg
results/2D_fish_0.00/pic/TPS-RPM_33.jpg
results/2D_fish_0.00/pic/TPS-RPM_44.jpg
results/2D_fish_0.00/pic/TPS-RPM_55.jpg
results/2D_fish_0.00/pic/TPS-RPM_66.jpg
results/2D_fish_0.00/pic/TPS-RPM_77.jpg
results/2D_fish_0.00/pic/TPS-RPM_88.jpg
results/2D_fish_0.00/pic/TPS-RPM_99.jpg
results/2D_fish_0.00/pic/TPS-RPM_final.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_0.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_11.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_22.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_33.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_44.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_55.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_66.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_77.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_88.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_99.jpg
results/2D_fish_0.00/pic/TPS-RPM-new_final.jpg
results/2D_fish_0.10/CPD_error.pt
results/2D_fish_0.10/CPD.pt
results/2D_fish_0.10/OPT-RBF_error.pt
results/2D_fish_0.10/OPT-RBF.pt
results/2D_fish_0.10/OPT-TPS_error.pt
results/2D_fish_0.10/OPT-TPS.pt
results/2D_fish_0.10/OT-RBF_error.pt
results/2D_fish_0.10/OT-RBF.pt
results/2D_fish_0.10/OT-TPS_error.pt
results/2D_fish_0.10/OT-TPS.pt
results/2D_fish_0.10/SOPT-RBF_error.pt
results/2D_fish_0.10/SOPT-RBF.pt
results/2D_fish_0.10/SOPT-TPS_error.pt
results/2D_fish_0.10/SOPT-TPS.pt
results/2D_fish_0.10/SOT-RBF_error.pt
results/2D_fish_0.10/SOT-RBF.pt
results/2D_fish_0.10/SOT-TPS_error.pt
results/2D_fish_0.10/SOT-TPS.pt
results/2D_fish_0.10/TPS-RPM_error.pt
results/2D_fish_0.10/TPS-RPM-new_error.pt
results/2D_fish_0.10/TPS-RPM-new.pt
results/2D_fish_0.10/TPS-RPM.pt
results/2D_fish_0.10/pic/CPD_0.jpg
results/2D_fish_0.10/pic/CPD_5.jpg
results/2D_fish_0.10/pic/CPD_10.jpg
results/2D_fish_0.10/pic/CPD_15.jpg
results/2D_fish_0.10/pic/CPD_20.jpg
results/2D_fish_0.10/pic/CPD_26.jpg
results/2D_fish_0.10/pic/CPD_31.jpg
results/2D_fish_0.10/pic/CPD_36.jpg
results/2D_fish_0.10/pic/CPD_41.jpg
results/2D_fish_0.10/pic/CPD_46.jpg
results/2D_fish_0.10/pic/CPD_52.jpg
results/2D_fish_0.10/pic/CPD_57.jpg
results/2D_fish_0.10/pic/CPD_62.jpg
results/2D_fish_0.10/pic/CPD_67.jpg
results/2D_fish_0.10/pic/CPD_72.jpg
results/2D_fish_0.10/pic/CPD_78.jpg
results/2D_fish_0.10/pic/CPD_83.jpg
results/2D_fish_0.10/pic/CPD_88.jpg
results/2D_fish_0.10/pic/CPD_93.jpg
results/2D_fish_0.10/pic/CPD_99.jpg
results/2D_fish_0.10/pic/CPD_final.jpg
results/2D_fish_0.10/pic/init.jpg
results/2D_fish_0.10/pic/OPT-RBF_0.jpg
results/2D_fish_0.10/pic/OPT-RBF_11.jpg
results/2D_fish_0.10/pic/OPT-RBF_22.jpg
results/2D_fish_0.10/pic/OPT-RBF_33.jpg
results/2D_fish_0.10/pic/OPT-RBF_44.jpg
results/2D_fish_0.10/pic/OPT-RBF_55.jpg
results/2D_fish_0.10/pic/OPT-RBF_66.jpg
results/2D_fish_0.10/pic/OPT-RBF_77.jpg
results/2D_fish_0.10/pic/OPT-RBF_88.jpg
results/2D_fish_0.10/pic/OPT-RBF_99.jpg
results/2D_fish_0.10/pic/OPT-RBF_final.jpg
results/2D_fish_0.10/pic/OPT-TPS_0.jpg
results/2D_fish_0.10/pic/OPT-TPS_11.jpg
results/2D_fish_0.10/pic/OPT-TPS_22.jpg
results/2D_fish_0.10/pic/OPT-TPS_33.jpg
results/2D_fish_0.10/pic/OPT-TPS_44.jpg
results/2D_fish_0.10/pic/OPT-TPS_55.jpg
results/2D_fish_0.10/pic/OPT-TPS_66.jpg
results/2D_fish_0.10/pic/OPT-TPS_77.jpg
results/2D_fish_0.10/pic/OPT-TPS_88.jpg
results/2D_fish_0.10/pic/OPT-TPS_99.jpg
results/2D_fish_0.10/pic/OPT-TPS_final.jpg
results/2D_fish_0.10/pic/OT-RBF_0.jpg
results/2D_fish_0.10/pic/OT-RBF_11.jpg
results/2D_fish_0.10/pic/OT-RBF_22.jpg
results/2D_fish_0.10/pic/OT-RBF_33.jpg
results/2D_fish_0.10/pic/OT-RBF_44.jpg
results/2D_fish_0.10/pic/OT-RBF_55.jpg
results/2D_fish_0.10/pic/OT-RBF_66.jpg
results/2D_fish_0.10/pic/OT-RBF_77.jpg
results/2D_fish_0.10/pic/OT-RBF_88.jpg
results/2D_fish_0.10/pic/OT-RBF_99.jpg
results/2D_fish_0.10/pic/OT-RBF_final.jpg
results/2D_fish_0.10/pic/OT-TPS_0.jpg
results/2D_fish_0.10/pic/OT-TPS_11.jpg
results/2D_fish_0.10/pic/OT-TPS_22.jpg
results/2D_fish_0.10/pic/OT-TPS_33.jpg
results/2D_fish_0.10/pic/OT-TPS_44.jpg
results/2D_fish_0.10/pic/OT-TPS_55.jpg
results/2D_fish_0.10/pic/OT-TPS_66.jpg
results/2D_fish_0.10/pic/OT-TPS_77.jpg
results/2D_fish_0.10/pic/OT-TPS_88.jpg
results/2D_fish_0.10/pic/OT-TPS_99.jpg
results/2D_fish_0.10/pic/OT-TPS_final.jpg
results/2D_fish_0.10/pic/SOPT-RBF_0.jpg
results/2D_fish_0.10/pic/SOPT-RBF_11.jpg
results/2D_fish_0.10/pic/SOPT-RBF_22.jpg
results/2D_fish_0.10/pic/SOPT-RBF_33.jpg
results/2D_fish_0.10/pic/SOPT-RBF_44.jpg
results/2D_fish_0.10/pic/SOPT-RBF_55.jpg
results/2D_fish_0.10/pic/SOPT-RBF_66.jpg
results/2D_fish_0.10/pic/SOPT-RBF_77.jpg
results/2D_fish_0.10/pic/SOPT-RBF_88.jpg
results/2D_fish_0.10/pic/SOPT-RBF_99.jpg
results/2D_fish_0.10/pic/SOPT-RBF_final.jpg
results/2D_fish_0.10/pic/SOPT-TPS_0.jpg
results/2D_fish_0.10/pic/SOPT-TPS_11.jpg
results/2D_fish_0.10/pic/SOPT-TPS_22.jpg
results/2D_fish_0.10/pic/SOPT-TPS_33.jpg
results/2D_fish_0.10/pic/SOPT-TPS_44.jpg
results/2D_fish_0.10/pic/SOPT-TPS_55.jpg
results/2D_fish_0.10/pic/SOPT-TPS_66.jpg
results/2D_fish_0.10/pic/SOPT-TPS_77.jpg
results/2D_fish_0.10/pic/SOPT-TPS_88.jpg
results/2D_fish_0.10/pic/SOPT-TPS_99.jpg
results/2D_fish_0.10/pic/SOPT-TPS_final.jpg
results/2D_fish_0.10/pic/SOT-RBF_0.jpg
results/2D_fish_0.10/pic/SOT-RBF_11.jpg
results/2D_fish_0.10/pic/SOT-RBF_22.jpg
results/2D_fish_0.10/pic/SOT-RBF_33.jpg
results/2D_fish_0.10/pic/SOT-RBF_44.jpg
results/2D_fish_0.10/pic/SOT-RBF_55.jpg
results/2D_fish_0.10/pic/SOT-RBF_66.jpg
results/2D_fish_0.10/pic/SOT-RBF_77.jpg
results/2D_fish_0.10/pic/SOT-RBF_88.jpg
results/2D_fish_0.10/pic/SOT-RBF_99.jpg
results/2D_fish_0.10/pic/SOT-RBF_final.jpg
results/2D_fish_0.10/pic/SOT-TPS_0.jpg
results/2D_fish_0.10/pic/SOT-TPS_11.jpg
results/2D_fish_0.10/pic/SOT-TPS_22.jpg
results/2D_fish_0.10/pic/SOT-TPS_33.jpg
results/2D_fish_0.10/pic/SOT-TPS_44.jpg
results/2D_fish_0.10/pic/SOT-TPS_55.jpg
results/2D_fish_0.10/pic/SOT-TPS_66.jpg
results/2D_fish_0.10/pic/SOT-TPS_77.jpg
results/2D_fish_0.10/pic/SOT-TPS_88.jpg
results/2D_fish_0.10/pic/SOT-TPS_99.jpg
results/2D_fish_0.10/pic/SOT-TPS_final.jpg
results/2D_fish_0.10/pic/TPS-RPM_0.jpg
results/2D_fish_0.10/pic/TPS-RPM_11.jpg
results/2D_fish_0.10/pic/TPS-RPM_22.jpg
results/2D_fish_0.10/pic/TPS-RPM_33.jpg
results/2D_fish_0.10/pic/TPS-RPM_44.jpg
results/2D_fish_0.10/pic/TPS-RPM_55.jpg
results/2D_fish_0.10/pic/TPS-RPM_66.jpg
results/2D_fish_0.10/pic/TPS-RPM_77.jpg
results/2D_fish_0.10/pic/TPS-RPM_88.jpg
results/2D_fish_0.10/pic/TPS-RPM_99.jpg
results/2D_fish_0.10/pic/TPS-RPM_final.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_0.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_11.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_22.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_33.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_44.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_55.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_66.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_77.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_88.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_99.jpg
results/2D_fish_0.10/pic/TPS-RPM-new_final.jpg
results/2D_fish_0.20/CPD_error.pt
results/2D_fish_0.20/CPD.pt
results/2D_fish_0.20/OPT-RBF_error.pt
results/2D_fish_0.20/OPT-RBF.pt
results/2D_fish_0.20/OPT-TPS_error.pt
results/2D_fish_0.20/OPT-TPS.pt
results/2D_fish_0.20/OT-RBF_error.pt
results/2D_fish_0.20/OT-RBF.pt
results/2D_fish_0.20/OT-TPS_error.pt
results/2D_fish_0.20/OT-TPS.pt
results/2D_fish_0.20/SOPT-RBF_error.pt
results/2D_fish_0.20/SOPT-RBF.pt
results/2D_fish_0.20/SOPT-TPS_error.pt
results/2D_fish_0.20/SOPT-TPS.pt
results/2D_fish_0.20/SOT-RBF_error.pt
results/2D_fish_0.20/SOT-RBF.pt
results/2D_fish_0.20/SOT-TPS_error.pt
results/2D_fish_0.20/SOT-TPS.pt
results/2D_fish_0.20/TPS-RPM_error.pt
results/2D_fish_0.20/TPS-RPM-new_error.pt
results/2D_fish_0.20/TPS-RPM-new.pt
results/2D_fish_0.20/TPS-RPM.pt
results/2D_fish_0.20/pic/CPD_0.jpg
results/2D_fish_0.20/pic/CPD_5.jpg
results/2D_fish_0.20/pic/CPD_10.jpg
results/2D_fish_0.20/pic/CPD_15.jpg
results/2D_fish_0.20/pic/CPD_20.jpg
results/2D_fish_0.20/pic/CPD_26.jpg
results/2D_fish_0.20/pic/CPD_31.jpg
results/2D_fish_0.20/pic/CPD_36.jpg
results/2D_fish_0.20/pic/CPD_41.jpg
results/2D_fish_0.20/pic/CPD_46.jpg
results/2D_fish_0.20/pic/CPD_52.jpg
results/2D_fish_0.20/pic/CPD_57.jpg
results/2D_fish_0.20/pic/CPD_62.jpg
results/2D_fish_0.20/pic/CPD_67.jpg
results/2D_fish_0.20/pic/CPD_72.jpg
results/2D_fish_0.20/pic/CPD_78.jpg
results/2D_fish_0.20/pic/CPD_83.jpg
results/2D_fish_0.20/pic/CPD_88.jpg
results/2D_fish_0.20/pic/CPD_93.jpg
results/2D_fish_0.20/pic/CPD_99.jpg
results/2D_fish_0.20/pic/CPD_final.jpg
results/2D_fish_0.20/pic/init.jpg
results/2D_fish_0.20/pic/OPT-RBF_0.jpg
results/2D_fish_0.20/pic/OPT-RBF_11.jpg
results/2D_fish_0.20/pic/OPT-RBF_22.jpg
results/2D_fish_0.20/pic/OPT-RBF_33.jpg
results/2D_fish_0.20/pic/OPT-RBF_44.jpg
results/2D_fish_0.20/pic/OPT-RBF_55.jpg
results/2D_fish_0.20/pic/OPT-RBF_66.jpg
results/2D_fish_0.20/pic/OPT-RBF_77.jpg
results/2D_fish_0.20/pic/OPT-RBF_88.jpg
results/2D_fish_0.20/pic/OPT-RBF_99.jpg
results/2D_fish_0.20/pic/OPT-RBF_final.jpg
results/2D_fish_0.20/pic/OPT-TPS_0.jpg
results/2D_fish_0.20/pic/OPT-TPS_11.jpg
results/2D_fish_0.20/pic/OPT-TPS_22.jpg
results/2D_fish_0.20/pic/OPT-TPS_33.jpg
results/2D_fish_0.20/pic/OPT-TPS_44.jpg
results/2D_fish_0.20/pic/OPT-TPS_55.jpg
results/2D_fish_0.20/pic/OPT-TPS_66.jpg
results/2D_fish_0.20/pic/OPT-TPS_77.jpg
results/2D_fish_0.20/pic/OPT-TPS_88.jpg
results/2D_fish_0.20/pic/OPT-TPS_99.jpg
results/2D_fish_0.20/pic/OPT-TPS_final.jpg
results/2D_fish_0.20/pic/OT-RBF_0.jpg
results/2D_fish_0.20/pic/OT-RBF_11.jpg
results/2D_fish_0.20/pic/OT-RBF_22.jpg
results/2D_fish_0.20/pic/OT-RBF_33.jpg
results/2D_fish_0.20/pic/OT-RBF_44.jpg
results/2D_fish_0.20/pic/OT-RBF_55.jpg
results/2D_fish_0.20/pic/OT-RBF_66.jpg
results/2D_fish_0.20/pic/OT-RBF_77.jpg
results/2D_fish_0.20/pic/OT-RBF_88.jpg
results/2D_fish_0.20/pic/OT-RBF_99.jpg
results/2D_fish_0.20/pic/OT-RBF_final.jpg
results/2D_fish_0.20/pic/OT-TPS_0.jpg
results/2D_fish_0.20/pic/OT-TPS_11.jpg
results/2D_fish_0.20/pic/OT-TPS_22.jpg
results/2D_fish_0.20/pic/OT-TPS_33.jpg
results/2D_fish_0.20/pic/OT-TPS_44.jpg
results/2D_fish_0.20/pic/OT-TPS_55.jpg
results/2D_fish_0.20/pic/OT-TPS_66.jpg
results/2D_fish_0.20/pic/OT-TPS_77.jpg
results/2D_fish_0.20/pic/OT-TPS_88.jpg
results/2D_fish_0.20/pic/OT-TPS_99.jpg
results/2D_fish_0.20/pic/OT-TPS_final.jpg
results/2D_fish_0.20/pic/SOPT-RBF_0.jpg
results/2D_fish_0.20/pic/SOPT-RBF_11.jpg
results/2D_fish_0.20/pic/SOPT-RBF_22.jpg
results/2D_fish_0.20/pic/SOPT-RBF_33.jpg
results/2D_fish_0.20/pic/SOPT-RBF_44.jpg
results/2D_fish_0.20/pic/SOPT-RBF_55.jpg
results/2D_fish_0.20/pic/SOPT-RBF_66.jpg
results/2D_fish_0.20/pic/SOPT-RBF_77.jpg
results/2D_fish_0.20/pic/SOPT-RBF_88.jpg
results/2D_fish_0.20/pic/SOPT-RBF_99.jpg
results/2D_fish_0.20/pic/SOPT-RBF_final.jpg
results/2D_fish_0.20/pic/SOPT-TPS_0.jpg
results/2D_fish_0.20/pic/SOPT-TPS_11.jpg
results/2D_fish_0.20/pic/SOPT-TPS_22.jpg
results/2D_fish_0.20/pic/SOPT-TPS_33.jpg
results/2D_fish_0.20/pic/SOPT-TPS_44.jpg
results/2D_fish_0.20/pic/SOPT-TPS_55.jpg
results/2D_fish_0.20/pic/SOPT-TPS_66.jpg
results/2D_fish_0.20/pic/SOPT-TPS_77.jpg
results/2D_fish_0.20/pic/SOPT-TPS_88.jpg
results/2D_fish_0.20/pic/SOPT-TPS_99.jpg
results/2D_fish_0.20/pic/SOPT-TPS_final.jpg
results/2D_fish_0.20/pic/SOT-RBF_0.jpg
results/2D_fish_0.20/pic/SOT-RBF_11.jpg
results/2D_fish_0.20/pic/SOT-RBF_22.jpg
results/2D_fish_0.20/pic/SOT-RBF_33.jpg
results/2D_fish_0.20/pic/SOT-RBF_44.jpg
results/2D_fish_0.20/pic/SOT-RBF_55.jpg
results/2D_fish_0.20/pic/SOT-RBF_66.jpg
results/2D_fish_0.20/pic/SOT-RBF_77.jpg
results/2D_fish_0.20/pic/SOT-RBF_88.jpg
results/2D_fish_0.20/pic/SOT-RBF_99.jpg
results/2D_fish_0.20/pic/SOT-RBF_final.jpg
results/2D_fish_0.20/pic/SOT-TPS_0.jpg
results/2D_fish_0.20/pic/SOT-TPS_11.jpg
results/2D_fish_0.20/pic/SOT-TPS_22.jpg
results/2D_fish_0.20/pic/SOT-TPS_33.jpg
results/2D_fish_0.20/pic/SOT-TPS_44.jpg
results/2D_fish_0.20/pic/SOT-TPS_55.jpg
results/2D_fish_0.20/pic/SOT-TPS_66.jpg
results/2D_fish_0.20/pic/SOT-TPS_77.jpg
results/2D_fish_0.20/pic/SOT-TPS_88.jpg
results/2D_fish_0.20/pic/SOT-TPS_99.jpg
results/2D_fish_0.20/pic/SOT-TPS_final.jpg
results/2D_fish_0.20/pic/TPS-RPM_0.jpg
results/2D_fish_0.20/pic/TPS-RPM_11.jpg
results/2D_fish_0.20/pic/TPS-RPM_22.jpg
results/2D_fish_0.20/pic/TPS-RPM_33.jpg
results/2D_fish_0.20/pic/TPS-RPM_44.jpg
results/2D_fish_0.20/pic/TPS-RPM_55.jpg
results/2D_fish_0.20/pic/TPS-RPM_66.jpg
results/2D_fish_0.20/pic/TPS-RPM_77.jpg
results/2D_fish_0.20/pic/TPS-RPM_88.jpg
results/2D_fish_0.20/pic/TPS-RPM_99.jpg
results/2D_fish_0.20/pic/TPS-RPM_final.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_0.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_11.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_22.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_33.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_44.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_55.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_66.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_77.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_88.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_99.jpg
results/2D_fish_0.20/pic/TPS-RPM-new_final.jpg
results/2D_fish_0.30/CPD_error.pt
results/2D_fish_0.30/CPD.pt
results/2D_fish_0.30/OPT-RBF_error.pt
results/2D_fish_0.30/OPT-RBF.pt
results/2D_fish_0.30/OPT-TPS_error.pt
results/2D_fish_0.30/OPT-TPS.pt
results/2D_fish_0.30/OT-RBF_error.pt
results/2D_fish_0.30/OT-RBF.pt
results/2D_fish_0.30/OT-TPS_error.pt
results/2D_fish_0.30/OT-TPS.pt
results/2D_fish_0.30/SOPT-RBF_error.pt
results/2D_fish_0.30/SOPT-RBF.pt
results/2D_fish_0.30/SOPT-TPS_error.pt
results/2D_fish_0.30/SOPT-TPS.pt
results/2D_fish_0.30/SOT-RBF_error.pt
results/2D_fish_0.30/SOT-RBF.pt
results/2D_fish_0.30/SOT-TPS_error.pt
results/2D_fish_0.30/SOT-TPS.pt
results/2D_fish_0.30/TPS-RPM_error.pt
results/2D_fish_0.30/TPS-RPM-new_error.pt
results/2D_fish_0.30/TPS-RPM-new.pt
results/2D_fish_0.30/TPS-RPM.pt
results/2D_fish_0.30/pic/CPD_0.jpg
results/2D_fish_0.30/pic/CPD_5.jpg
results/2D_fish_0.30/pic/CPD_10.jpg
results/2D_fish_0.30/pic/CPD_15.jpg
results/2D_fish_0.30/pic/CPD_20.jpg
results/2D_fish_0.30/pic/CPD_26.jpg
results/2D_fish_0.30/pic/CPD_31.jpg
results/2D_fish_0.30/pic/CPD_36.jpg
results/2D_fish_0.30/pic/CPD_41.jpg
results/2D_fish_0.30/pic/CPD_46.jpg
results/2D_fish_0.30/pic/CPD_52.jpg
results/2D_fish_0.30/pic/CPD_57.jpg
results/2D_fish_0.30/pic/CPD_62.jpg
results/2D_fish_0.30/pic/CPD_67.jpg
results/2D_fish_0.30/pic/CPD_72.jpg
results/2D_fish_0.30/pic/CPD_78.jpg
results/2D_fish_0.30/pic/CPD_83.jpg
results/2D_fish_0.30/pic/CPD_88.jpg
results/2D_fish_0.30/pic/CPD_93.jpg
results/2D_fish_0.30/pic/CPD_99.jpg
results/2D_fish_0.30/pic/CPD_final.jpg
results/2D_fish_0.30/pic/init.jpg
results/2D_fish_0.30/pic/OPT-RBF_0.jpg
results/2D_fish_0.30/pic/OPT-RBF_11.jpg
results/2D_fish_0.30/pic/OPT-RBF_22.jpg
results/2D_fish_0.30/pic/OPT-RBF_33.jpg
results/2D_fish_0.30/pic/OPT-RBF_44.jpg
results/2D_fish_0.30/pic/OPT-RBF_55.jpg
results/2D_fish_0.30/pic/OPT-RBF_66.jpg
results/2D_fish_0.30/pic/OPT-RBF_77.jpg
results/2D_fish_0.30/pic/OPT-RBF_88.jpg
results/2D_fish_0.30/pic/OPT-RBF_99.jpg
results/2D_fish_0.30/pic/OPT-RBF_final.jpg
results/2D_fish_0.30/pic/OPT-TPS_0.jpg
results/2D_fish_0.30/pic/OPT-TPS_11.jpg
results/2D_fish_0.30/pic/OPT-TPS_22.jpg
results/2D_fish_0.30/pic/OPT-TPS_33.jpg
results/2D_fish_0.30/pic/OPT-TPS_44.jpg
results/2D_fish_0.30/pic/OPT-TPS_55.jpg
results/2D_fish_0.30/pic/OPT-TPS_66.jpg
results/2D_fish_0.30/pic/OPT-TPS_77.jpg
results/2D_fish_0.30/pic/OPT-TPS_88.jpg
results/2D_fish_0.30/pic/OPT-TPS_99.jpg
results/2D_fish_0.30/pic/OPT-TPS_final.jpg
results/2D_fish_0.30/pic/OT-RBF_0.jpg
results/2D_fish_0.30/pic/OT-RBF_11.jpg
results/2D_fish_0.30/pic/OT-RBF_22.jpg
results/2D_fish_0.30/pic/OT-RBF_33.jpg
results/2D_fish_0.30/pic/OT-RBF_44.jpg
results/2D_fish_0.30/pic/OT-RBF_55.jpg
results/2D_fish_0.30/pic/OT-RBF_66.jpg
results/2D_fish_0.30/pic/OT-RBF_77.jpg
results/2D_fish_0.30/pic/OT-RBF_88.jpg
results/2D_fish_0.30/pic/OT-RBF_99.jpg
results/2D_fish_0.30/pic/OT-RBF_final.jpg
results/2D_fish_0.30/pic/OT-TPS_0.jpg
results/2D_fish_0.30/pic/OT-TPS_11.jpg
results/2D_fish_0.30/pic/OT-TPS_22.jpg
results/2D_fish_0.30/pic/OT-TPS_33.jpg
results/2D_fish_0.30/pic/OT-TPS_44.jpg
results/2D_fish_0.30/pic/OT-TPS_55.jpg
results/2D_fish_0.30/pic/OT-TPS_66.jpg
results/2D_fish_0.30/pic/OT-TPS_77.jpg
results/2D_fish_0.30/pic/OT-TPS_88.jpg
results/2D_fish_0.30/pic/OT-TPS_99.jpg
results/2D_fish_0.30/pic/OT-TPS_final.jpg
results/2D_fish_0.30/pic/SOPT-RBF_0.jpg
results/2D_fish_0.30/pic/SOPT-RBF_11.jpg
results/2D_fish_0.30/pic/SOPT-RBF_22.jpg
results/2D_fish_0.30/pic/SOPT-RBF_33.jpg
results/2D_fish_0.30/pic/SOPT-RBF_44.jpg
results/2D_fish_0.30/pic/SOPT-RBF_55.jpg
results/2D_fish_0.30/pic/SOPT-RBF_66.jpg
results/2D_fish_0.30/pic/SOPT-RBF_77.jpg
results/2D_fish_0.30/pic/SOPT-RBF_88.jpg
results/2D_fish_0.30/pic/SOPT-RBF_99.jpg
results/2D_fish_0.30/pic/SOPT-RBF_final.jpg
results/2D_fish_0.30/pic/SOPT-TPS_0.jpg
results/2D_fish_0.30/pic/SOPT-TPS_11.jpg
results/2D_fish_0.30/pic/SOPT-TPS_22.jpg
results/2D_fish_0.30/pic/SOPT-TPS_33.jpg
results/2D_fish_0.30/pic/SOPT-TPS_44.jpg
results/2D_fish_0.30/pic/SOPT-TPS_55.jpg
results/2D_fish_0.30/pic/SOPT-TPS_66.jpg
results/2D_fish_0.30/pic/SOPT-TPS_77.jpg
results/2D_fish_0.30/pic/SOPT-TPS_88.jpg
results/2D_fish_0.30/pic/SOPT-TPS_99.jpg
results/2D_fish_0.30/pic/SOPT-TPS_final.jpg
results/2D_fish_0.30/pic/SOT-RBF_0.jpg
results/2D_fish_0.30/pic/SOT-RBF_11.jpg
results/2D_fish_0.30/pic/SOT-RBF_22.jpg
results/2D_fish_0.30/pic/SOT-RBF_33.jpg
results/2D_fish_0.30/pic/SOT-RBF_44.jpg
results/2D_fish_0.30/pic/SOT-RBF_55.jpg
results/2D_fish_0.30/pic/SOT-RBF_66.jpg
results/2D_fish_0.30/pic/SOT-RBF_77.jpg
results/2D_fish_0.30/pic/SOT-RBF_88.jpg
results/2D_fish_0.30/pic/SOT-RBF_99.jpg
results/2D_fish_0.30/pic/SOT-RBF_final.jpg
results/2D_fish_0.30/pic/SOT-TPS_0.jpg
results/2D_fish_0.30/pic/SOT-TPS_11.jpg
results/2D_fish_0.30/pic/SOT-TPS_22.jpg
results/2D_fish_0.30/pic/SOT-TPS_33.jpg
results/2D_fish_0.30/pic/SOT-TPS_44.jpg
results/2D_fish_0.30/pic/SOT-TPS_55.jpg
results/2D_fish_0.30/pic/SOT-TPS_66.jpg
results/2D_fish_0.30/pic/SOT-TPS_77.jpg
results/2D_fish_0.30/pic/SOT-TPS_88.jpg
results/2D_fish_0.30/pic/SOT-TPS_99.jpg
results/2D_fish_0.30/pic/SOT-TPS_final.jpg
results/2D_fish_0.30/pic/TPS-RPM_0.jpg
results/2D_fish_0.30/pic/TPS-RPM_11.jpg
results/2D_fish_0.30/pic/TPS-RPM_22.jpg
results/2D_fish_0.30/pic/TPS-RPM_33.jpg
results/2D_fish_0.30/pic/TPS-RPM_44.jpg
results/2D_fish_0.30/pic/TPS-RPM_55.jpg
results/2D_fish_0.30/pic/TPS-RPM_66.jpg
results/2D_fish_0.30/pic/TPS-RPM_77.jpg
results/2D_fish_0.30/pic/TPS-RPM_88.jpg
results/2D_fish_0.30/pic/TPS-RPM_99.jpg
results/2D_fish_0.30/pic/TPS-RPM_final.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_0.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_11.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_22.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_33.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_44.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_55.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_66.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_77.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_88.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_99.jpg
results/2D_fish_0.30/pic/TPS-RPM-new_final.jpg
results/3D_neutral_2_29_0.05/CPD.pt
lib/__pycache__/lib_ot.cost_function-197.py311.1.nbc
lib/__pycache__/lib_ot.cost_function-197.py311.nbi
lib/__pycache__/lib_ot.ot1d-171.py311.1.nbc
lib/__pycache__/lib_ot.ot1d-171.py311.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp_opt_1-580.py311.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp_opt_1-580.py311.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp-467.py311.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp-467.py311.nbi
lib/__pycache__/lib_shape.gradient_flow_sopt-945.py311.1.nbc
lib/__pycache__/lib_shape.gradient_flow_sopt-945.py311.nbi
lib/__pycache__/lib_shape.gradient_flow_sot-920.py311.1.nbc
lib/__pycache__/lib_shape.gradient_flow_sot-920.py311.nbi
lib/__pycache__/sliced_opt.random_projections-18.py311.1.nbc
lib/__pycache__/sliced_opt.random_projections-18.py311.nbi
.ipynb_checkpoints/2D_experiment-checkpoint.ipynb
lib/__pycache__/lib_ot.cost_function-197.py311.1.nbc
lib/__pycache__/lib_ot.cost_function-197.py311.nbi
lib/__pycache__/lib_ot.ot1d-171.py311.1.nbc
lib/__pycache__/lib_ot.ot1d-171.py311.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp_opt_1-580.py311.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp_opt_1-580.py311.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp-467.py311.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp-467.py311.nbi
lib/__pycache__/lib_shape.gradient_flow_sopt-945.py311.1.nbc
lib/__pycache__/lib_shape.gradient_flow_sopt-945.py311.nbi
lib/__pycache__/lib_shape.gradient_flow_sot-920.py311.1.nbc
lib/__pycache__/lib_shape.gradient_flow_sot-920.py311.nbi
lib/__pycache__/sliced_opt.random_projections-18.py311.1.nbc
lib/__pycache__/sliced_opt.random_projections-18.py311.nbi
results/3D_neutral_2_29_0.10/CPD.pt
results/3D_neutral_2_29_0.05/OPT-RBF.pt
results/3D_neutral_2_29_0.05/OPT-TPS.pt
results/3D_neutral_2_29_0.05/OT-TPS.pt
results/3D_neutral_2_29_0.05/SOPT-RBF.pt
results/3D_neutral_2_29_0.05/SOPT-TPS.pt
results/3D_neutral_2_29_0.05/SOT-RBF.pt
results/3D_neutral_2_29_0.05/SOT-TPS.pt
results/3D_neutral_2_29_0.05/TPS-RPM-new.pt
results/3D_neutral_2_29_0.05/TPS-RPM.pt
results/3D_neutral_2_29_0.10/OPT-RBF.pt
results/3D_neutral_2_29_0.10/OPT-TPS.pt
results/3D_neutral_2_29_0.10/OT-RBF.pt
results/3D_neutral_2_29_0.10/OT-TPS.pt
results/3D_neutral_2_29_0.10/SOPT-RBF.pt
results/3D_neutral_2_29_0.10/SOPT-TPS.pt
results/3D_neutral_2_29_0.10/SOT-RBF.pt
results/3D_neutral_2_29_0.10/SOT-TPS.pt
results/3D_neutral_2_29_0.10/TPS-RPM-new.pt
results/3D_neutral_2_29_0.10/TPS-RPM.pt
