lib/__pycache__/lib_ot.closest_y_opt-102.py310.1.nbc
lib/__pycache__/lib_ot.closest_y_opt-102.py310.2.nbc
lib/__pycache__/lib_ot.closest_y_opt-102.py310.nbi
lib/__pycache__/lib_ot.closest_y-76.py310.1.nbc
lib/__pycache__/lib_ot.closest_y-76.py310.nbi
lib/__pycache__/lib_ot.cpython-310.pyc
lib/__pycache__/lib_ot.pot-660.py310.1.nbc
lib/__pycache__/lib_ot.pot-660.py310.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp_opt-512.py310.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp_opt-512.py310.nbi
lib/__pycache__/lib_ot.sinkhorn_knopp-404.py310.1.nbc
lib/__pycache__/lib_ot.sinkhorn_knopp-404.py310.nbi
lib/__pycache__/lib_ot.sinkhorn_opt_pr-271.py310.1.nbc
lib/__pycache__/lib_ot.sinkhorn_opt_pr-271.py310.nbi
lib/__pycache__/lib_ot.solve_opt-721.py310.1.nbc
lib/__pycache__/lib_ot.solve_opt-721.py310.2.nbc
lib/__pycache__/lib_ot.solve_opt-721.py310.nbi
lib/__pycache__/lib_ot.unassign_y-138.py310.1.nbc
lib/__pycache__/lib_ot.unassign_y-138.py310.nbi
lib/__pycache__/lib_shape.cpython-310.pyc
lib/__pycache__/library.arange-60.py310.1.nbc
lib/__pycache__/library.arange-60.py310.nbi
lib/__pycache__/library.array_to_matrix-232.py310.1.nbc
lib/__pycache__/library.array_to_matrix-232.py310.nbi
lib/__pycache__/library.closest_y_M-209.py310.1.nbc
lib/__pycache__/library.closest_y_M-209.py310.nbi
lib/__pycache__/library.cost_matrix_d-38.py310.1.nbc
lib/__pycache__/library.cost_matrix_d-38.py310.nbi
lib/__pycache__/library.cost_matrix-19.py310.1.nbc
lib/__pycache__/library.cost_matrix-19.py310.nbi
lib/__pycache__/library.cpython-310.pyc
lib/__pycache__/library.Gaussian_mixture_32-297.py310.1.nbc
lib/__pycache__/library.Gaussian_mixture_32-297.py310.nbi
lib/__pycache__/library.Gaussian_mixture-288.py310.1.nbc
lib/__pycache__/library.Gaussian_mixture-288.py310.nbi
lib/__pycache__/library.L_to_pi-259.py310.1.nbc
lib/__pycache__/library.L_to_pi-259.py310.nbi
lib/__pycache__/library.recover_indice-182.py310.1.nbc
lib/__pycache__/library.recover_indice-182.py310.nbi
lib/__pycache__/library.unassign_y_nb-112.py310.1.nbc
lib/__pycache__/library.unassign_y_nb-112.py310.nbi
lib/__pycache__/library.unassign_y-70.py310.1.nbc
lib/__pycache__/library.unassign_y-70.py310.nbi
lib/__pycache__/sliced_opt.cpython-310.pyc
lib/__pycache__/sliced_opt.opt_plans_64-128.py310.1.nbc
lib/__pycache__/sliced_opt.opt_plans_64-128.py310.nbi
lib/__pycache__/sliced_opt.opt_plans-49.py310.1.nbc
lib/__pycache__/sliced_opt.opt_plans-49.py310.nbi
lib/__pycache__/sliced_opt.random_projections-18.py310.1.nbc
lib/__pycache__/sliced_opt.random_projections-18.py310.nbi
lib/__pycache__/sliced_opt.X_correspondence_pot-105.py310.1.nbc
lib/__pycache__/sliced_opt.X_correspondence_pot-105.py310.nbi
lib/__pycache__/sliced_opt.X_correspondence-71.py310.1.nbc
lib/__pycache__/sliced_opt.X_correspondence-71.py310.nbi
lib/.ipynb_checkpoints/lib_shape-checkpoint.py
lib/.ipynb_checkpoints/sliced_opt-checkpoint.py
lib/__pycache__/lib_ot.cpython-310.pyc
lib/__pycache__/lib_shape.cpython-310.pyc
lib/__pycache__/library.cpython-310.pyc
lib/__pycache__/sliced_opt.cpython-310.pyc
.DS_Store
result/3D_female/OPT_RBF.pt
result/3D_female/OPT_TPS
